* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #5924ac, #0063db, #0082c6, #009784, #19a43d);
  min-height: 100vh;
  /* max-width: 20w; */
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  /* min-height: 20vh; */
}

header h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}

header form {
  margin-top: 10px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 70%;
  /* display: grid;
  grid-template-columns: 5fr 1fr; */
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#new-task-input {
  background-color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

#new-task-submit {
  background-color: rgb(5, 106, 178);
  color: white;
  padding: .5rem 0;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
  border: solid 2px;
  width: 100px;
  margin: 0 auto;
}

#new-task-submit:hover {
  opacity: 0.8;
  color: white;
}

#new-task-submit:active {
  opacity: 0.6;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

.task-container h2 {
  font-size: 2rem;
  margin-top: 5px;
}

.tasks-list {
  margin-top: 0.5rem;
  /* min-width: 70%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.todo {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  font-weight: 700;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: 0.5s;
  border: solid 3px white; */
}

.todo {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr 1fr;
  width: 80%;
  /* row-gap: 40px; */
  background-color: white;
  color: black;
  /* padding: 0.5rem; */
  /* margin-bottom: 6rem; */
  /* border-radius: 1rem; */
  font-weight: 700;
  width: 100%;
  max-width: 800px;
  /* min-width: 300; */
  margin: 0 auto;
  transition: 0.5s;
  border: solid 3px white;
}

.todo-text {
  flex: 1;
  border: none;
  font-size: 1rem;
  margin-left: 5px;
  outline: none;
}

.edit {
  background-color: #1eb3c9;
  padding: 0.75rem;
  /* border-radius: 0.25rem; */
  /* margin-left: 1rem; */
  cursor: pointer;
  transition: 0.3s;
}

.edit:hover {
  opacity: 0.8;
  color: white;
}

.edit:active {
  opacity: 0.6;
}

.check-done {
  background-color: #19a43d;
  padding: 0.75rem;
  /* border-radius: 0.25rem; */
  /* margin-right: 1rem; */
  cursor: pointer;
  transition: 0.3s;
}

.check-done:hover {
  opacity: 0.8;
  color: white;
}

.check-done:active {
  opacity: 0.6;
}

.delete {
  background-color: #e63a13;
  padding: 0.75rem;
  /* border-radius: 0.25rem; */
  cursor: pointer;
  transition: 0.3s;
}

.delete:hover {
  opacity: 0.8;
  color: white;
}

.delete:active {
  opacity: 0.6;
}

.fa-solid, .fa-check, .fa-pen-to-square, .fa-circle-xmark {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Timing container styling */

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(17, 175, 86);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 5px;
  border: solid 2px;
}

.time-container h3 {
  font-size: 2rem;
}

.time-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.time-container span {
  font-size: 1rem;
}

.time-container input {
  /* flex: 1; */
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 70%;
  /* width: 100px; */
  /* width: 100%; */
}

.time-container .time {
  font-size: 3rem;
}

.time-container .timeButton {
  padding: 0.45rem;
  border-radius: 0.5rem;
  border: solid white 2px;
  background-color: #0082c6;
  color: white;
  cursor: pointer;
}

.time-container .timeButton:hover {
  opacity: 0.8;
  color: black;
}

.time-container .timeButton:active {
  opacity: 0.6;
}

.time-music-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  width: 80%;
  max-width: 800px;
  /* row-gap: 40px; */
}

@media (max-width: 533px) {
  .time-music-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 533) and (max-width: 999px) {
  .time-music-grid {
    grid-template-columns: 1fr 1fr;
  }
}


.music-container {

}

.music-link {
  background-color: rgb(36, 162, 101);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 3px white;
  /* border-radius: 10px; */
  margin-bottom: 5px;
}

.music-link span {
  flex: 1;
  font-size: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}


.play-pause-link-btn {
  background-color: rgb(6, 169, 214);
  border: solid black 2px;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.play-pause-link-btn:hover {
  opacity: 0.8;
  color: white;
}

.play-pause-link-btn:active {
  opacity: 0.6;
}

.fa-circle-play {
  /* width: fit-content; */
}

.time-music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 80%;
  margin: 0 auto;
}